body{
    font-family: "Helvetica Neue", "Lucida Grande", "Arial";
    font-size: 14px;
    color: #222;
    background-color: #FFF;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
}
h1.title{
    text-decoration: underline;
}
div.index a{
    font-size: 18px;
    color: #555;
}
div.index a:hover{ color: red; }

div.content{
    margin-left: 200px;
}
div.toolbar{
    float: left;
    width: 200px;
}
div.notification{
    top: 0;
    right: 0;
    position: absolute;
}
div.notification a:link{
    text-decoration: none; 
}
div.notification a:visited{
    text-decoration: none; 
}
div.notification a:active{
    text-decoration: none;
}
textarea.edit{
    width: 700px;
}
li{
    list-style-type: none;
}
code{
    font: Monaco, ProFont, "Bitstream Vera Sans Mono", "American Typewriter", "Andale Mono", monospace;
    font-size: 0.91em;
}
pre{
    color: #222;
    border-width: 1px 0 1px 0;
    border-color: #6B6B6B;
    border-style: dashed;
    background-color: inherit;
}
.notifyactive{
    font-size: 48px;
    color: #ff5700;
}
.notifyinactive{
    font-size: 48px;
    color: #bbb;
}
