body{
    font-family: "Helvetica Neue", "Lucida Grande", "Arial";
    font-size: 14px;
    color: #222;
    background-color: #FFF;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
}
div.index a{
    font-size: 18px;
    color: #555;
}
div.index a:hover{ color: red; }

div.content{
    width: 1000px;
}
div.topright{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
}
div.topleft{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
}
textarea.edit{
    width: 700px;
}
li{
    list-style-type: none;
}
code{
    font: Monaco, ProFont, "Bitstream Vera Sans Mono", "American Typewriter", "Andale Mono", monospace;
    font-size: 0.91em;
}
pre{
    color: #222;
    border-width: 1px 0 1px 0;
    border-color: #6B6B6B;
    border-style: dashed;
    background-color: inherit;
}