body{
    font-family: "Helvetica Neue", "Lucida Grande", "Arial";
    font-size: 14px;
    color: #222;
    background-color: #FFF;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
}
div.index a{
    font-size: 18px;
    color: #555;
}
div.index a:hover{ color: red; }

div.article{
    margin: 50px 10px 50px 10px;
    width: 600px;
    text-align: justify;
}
div.topright{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
}

div.topleft{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
}